* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.headerLogin {
  overflow: hidden;
  background-color: #A34343;
  padding: 20px 10px;
}

.headerLogin a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.headerLogin a.logo {
  font-size: 25px;
  font-weight: bold;
}

.headerLogin a:hover {
  background-color: #FBF8DD;
  color: black;
}

.headerLogin a.active {
  background-color: #E9C874;
  color: white;
}

.headerLogin-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .headerLogin a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .headerLogin-right {
    float: none;
  }
}

/* Dropdown Button */
.logindropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .logindropbtn:hover, .logindropbtn:focus {
    background-color: #ddd;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .logindropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .logindropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .logindropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .logindropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .logindropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .logindropdown:hover .dropbtn {background-color: #ddd;}
  